* {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
}

img{
    width: 50%;
    
}
.logo{
    width:30%;
}
#root > header {
    display: flex;
    align-items: center;
    background-color: bisque;
    //box-shadow: 0 1px 6px rgba(0,0,0,0.3);
}

h1, p, h5{
    font-family: 'Courier New', Courier, monospace;
}
#item-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.producto{
    padding: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    margin: 0.5rem;
    h2 {
        text-overflow: ellipsis;
        white-space : nowrap;
        overflow: hidden;
    }
  
}